<div class="container mt-5">
    <div class="row">
        <!-- Left side of the checkout process -->
        <div class="col-md-8">
            <!-- Stepper component for navigating through the checkout steps -->
            <app-stepper [linearModeSelected]="false" #appStepper>
                <!-- Step for entering the address -->
                <cdk-step [label]="'Address'">
                    <!-- Passing the checkoutForm to the address component -->
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <!-- Step for selecting the delivery method -->
                <cdk-step [label]="'Delivery'">
                    <app-checkout-delivery></app-checkout-delivery>
                </cdk-step>
                <!-- Step for reviewing the order -->
                <cdk-step [label]="'Review'">
                    <app-checkout-review></app-checkout-review>
                </cdk-step>
                <!-- Step for making the payment -->
                <cdk-step [label]="'Payment'">
                    <app-checkout-payment></app-checkout-payment>
                </cdk-step>
            </app-stepper>
        </div>

        <!-- Right side order summary component -->
        <div class="col-md-4">
            <app-order-summary></app-order-summary> <!-- Order summary widget -->
        </div>
    </div>
</div>

