<div class="container mt-5">
    <div class="row">
        <!-- Left side of the checkout process -->
        <div class="col-md-8">
            <!-- The main checkout process section (forms, details, etc.) would go here -->
            <app-stepper [linearModeSelected]="false" #appStepper>
                <!-- Stepper component for navigating checkout steps -->
                <cdk-step [label]="'Address'">Step1</cdk-step>
                <cdk-step [label]="'Delivery'">Step2</cdk-step>
                <cdk-step [label]="'Review'">Step3</cdk-step>
                <cdk-step [label]="'Payment'">Step4</cdk-step>
            </app-stepper>
        </div>
        
        <!-- Right side order summary component -->
        <div class="col-md-4">
            <app-order-summary></app-order-summary> <!-- Order summary widget -->
        </div>
    </div>
</div>


