<div class="row" *ngIf="product">
    <div class="col-6">
        <img src="{{product.productPicture}}" class="w-100" alt="{{product.name}}">
    </div>
    <div class="col-6">
        <h3>{{product.name}}</h3>
        <p>{{product.price | currency}}</p>

        <div class="d-flex justify-content-start align-items-center">
            <!-- + | - | AddBtn -->
             <i (click)="decrementQuantityItem()" class="fa fa-minus-square text-danger mx-2" style="font-weight: bold; cursor: pointer;"></i>
             <span style="font-weight: bold;">{{quantity}}</span>
             <i (click)="incrementQuantityItem()" class="fa fa-plus-square text-danger mx-2" style="font-weight: bold; cursor: pointer;"></i>
             <button (click)="addItemToBasket()" class="btn btn-outline-danger btn-lg ml-5">Add To Cart</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Description</h3>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
