.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-floating {
    margin-bottom: 0.5rem;
}

.hideLoader {
    display: none;
}

.loader {
    position: absolute;
    width: auto;
    top: 20px;
    right: 15px;
}