<div class="mt-4" [formGroup]="checkoutForm">
    <div class="row" formGroupName="deliveryForm">
        <div class="col-6 form-group" *ngFor="let item of deliveryMethods">
            <input type="radio" 
                id="{{item.id}}"
                value="{{item.id}}"
                formControlName="deliveryMethod"
                class="custom-control-input"
            >
            <label for="{{item.id}}" class="custom-control-label">
                <strong>{{item.shortName}} - {{item.price | currency}}</strong>
                <br>
                <span class="label-description">{{item.description}}</span>
            </label>
        </div>
    </div>
</div>
